@import "./variables.scss";
@import "./bootstrap-5.0.0-beta3/scss/bootstrap.scss";
@import "./_bootswatch.scss";

body {
    //background-color: $blue-200;
}

img {
    width: 400px;
    height: 250px;
}

.list-group-item{
    //background-color: $blue-200;
    background-color:$info;
    width: 20%;
    display:block;
    margin: auto
}